BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AlignAfterOpenBracket: Align
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
BreakBeforeBraces: Attach
